In [1]:
import pandas as pd

In [2]:
import sys
#reload(sys)
print(sys.getdefaultencoding())
#sys.setdefaultencoding("utf-8")

utf-8

In [3]:
df = pd.read_csv('variables.csv', index_col=0)

In [4]:
df.head()

,insee,TauxProprietaires,TauxChomage,NiveauVieMedian,densitehabkm2,dipl_su_tx,no2,o3,pm10,Tour1Candidat1,tp,medianendv,nb_redevables,patrimoineeuro,impotmoyeneuro,prixm2
0,78561,77.11,3.91,36311.0,66.26,0.57,16.34,32.08,24.54,FILLON FranÃ§ois,NaN,36311.47,NaN,NaN,NaN,2113.0
9,91338,70.49,6.92,28123.0,459.76,0.41,15.59,33.15,24.57,MACRON Emmanuel,5.0,28122.78,NaN,NaN,NaN,2881.0
18,91122,71.18,8.05,31769.0,2145.45,0.64,19.35,32.72,25.99,MACRON Emmanuel,5.0,31768.89,NaN,NaN,NaN,3848.0
27,78343,78.39,6.29,37659.0,620.88,0.63,21.62,30.88,26.07,FILLON FranÃ§ois,NaN,37659.33,NaN,NaN,NaN,4044.0
36,91679,74.40,7.32,31538.0,201.80,0.54,19.32,31.87,25.61,MACRON Emmanuel,NaN,31538.40,NaN,NaN,NaN,3673.0

In [5]:
df.Tour1Candidat1.unique()

array(['FILLON FranÃ§ois', 'MACRON Emmanuel', 'MÃ‰LENCHON Jean-Luc',
       'LE PEN Marine'], dtype=object)

In [6]:
df['candidat_last_name'] = df['Tour1Candidat1'].apply(lambda x: x.split(' ')[0])

In [7]:
df.candidat_last_name.unique()

array(['FILLON', 'MACRON', 'MÃ‰LENCHON', 'LE'], dtype=object)

In [8]:
mapping  = {"FILLON":"#3483eb", "MACRON":"#3d34eb", "MÃ‰LENCHON":"#a83232", "LE":"	#000080"}

In [9]:
df['candidat_couleur'] = df['candidat_last_name'].apply(lambda x: mapping[x])

In [10]:
mapping  = {'FILLON FranÃ§ois': 'François FILLON', 'MACRON Emmanuel':'Emmanuel MACRON', 'MÃ‰LENCHON Jean-Luc':'Jean-Luc MELENCHON','LE PEN Marine':'Marine LE PEN'}

In [11]:
df['Tour1Candidat1'] = df['Tour1Candidat1'].apply(lambda x: mapping[x])

In [12]:
df.head()

,insee,TauxProprietaires,TauxChomage,NiveauVieMedian,densitehabkm2,dipl_su_tx,no2,o3,pm10,Tour1Candidat1,tp,medianendv,nb_redevables,patrimoineeuro,impotmoyeneuro,prixm2,candidat_last_name,candidat_couleur
0,78561,77.11,3.91,36311.0,66.26,0.57,16.34,32.08,24.54,François FILLON,NaN,36311.47,NaN,NaN,NaN,2113.0,FILLON,#3483eb
9,91338,70.49,6.92,28123.0,459.76,0.41,15.59,33.15,24.57,Emmanuel MACRON,5.0,28122.78,NaN,NaN,NaN,2881.0,MACRON,#3d34eb
18,91122,71.18,8.05,31769.0,2145.45,0.64,19.35,32.72,25.99,Emmanuel MACRON,5.0,31768.89,NaN,NaN,NaN,3848.0,MACRON,#3d34eb
27,78343,78.39,6.29,37659.0,620.88,0.63,21.62,30.88,26.07,François FILLON,NaN,37659.33,NaN,NaN,NaN,4044.0,FILLON,#3483eb
36,91679,74.40,7.32,31538.0,201.80,0.54,19.32,31.87,25.61,Emmanuel MACRON,NaN,31538.40,NaN,NaN,NaN,3673.0,MACRON,#3d34eb

In [ ]:
df.to_csv('variables_candidat_couleur.csv')